<th:block th:fragment="userFields">
    <div class="mb-3">
        <label for="firstname" class="form-label fw-bold">First Name</label>
        <input type="text" class="form-control" id="firstname" name="firstname" value="">
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label fw-bold">Last Name</label>
        <input type="text" class="form-control" id="lastname" name="lastname" value="">
    </div>
    <div class="mb-3">
        <label for="age" class="form-label fw-bold">Age</label>
        <input type="number" class="form-control" id="age" name="age" value="">
    </div>
    <div class="mb-3">
        <label for="username" class="form-label fw-bold">Email</label>
        <input type="email" class="form-control" id="username" name="username" value="">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label fw-bold">Password</label>
        <input type="password" class="form-control" id="password" name="password" value="">
    </div>
    <div class="mb-3">
        <label for="roles" class="form-label fw-bold">Choose Roles</label>
        <select class="form-control" name="roles" id="roles" multiple="" required="">
            <option value="1">ADMIN</option>
            <option value="2" selected="selected">USER</option>
        </select>
    </div>
</th:block>