<div th:fragment="edit">
    <div class="modal-header">
        <h5 class="modal-title" id="user-modal-label">Edit user</h5>
        <button type="button" class="btn-close close-modal-dialog" aria-label="Close"></button>
    </div>
    <form action="#" method="post">
        <div class="modal-body">
            <div class="mb-3">
                <label for="id" class="form-label fw-bold">ID</label>
                <input class="form-control not" type="text" disabled>
                <input id="id" name="id" type="hidden"/>
            </div>
            <th:block th:replace="~{admin/form-fragment::userFields}"></th:block>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
    </form>
</div>