<div th:fragment="edit(user)">
    <div class="modal-header">
        <h5 class="modal-title" id="user-modal-label">Edit user</h5>
        <button type="button" class="btn-close close-modal-dialog" aria-label="Close"></button>
    </div>
    <form action="#" th:object="${user}" method="post">
        <div class="modal-body">
            <div class="mb-3">
                <label for="id" class="form-label fw-bold">ID</label>
                <input class="form-control not" th:value="*{id}" type="text" disabled>
                <input th:field="*{id}" type="hidden"/>
            </div>
            <div th:replace="~{admin/form-fragment::enabledInput('firstname', 'First Name', 'text')}"></div>
            <div th:replace="~{admin/form-fragment::enabledInput('lastname', 'Last Name', 'text')}"></div>
            <div th:replace="~{admin/form-fragment::enabledInput('age', 'Age', 'number')}"></div>
            <div th:replace="~{admin/form-fragment::enabledInput('username', 'Email', 'email')}"></div>
            <div th:replace="~{admin/form-fragment::enabledInput('password', 'Password', 'password')}"></div>
            <div th:replace="~{admin/form-fragment::roles(${user})}"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
    </form>
</div>